terraform/terraform.tfvars
terraform/ansible_key
terraform/ansible_key.pub

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*


terraform/terraform.tfvars
terraform/terraform.tfvars.json
terraform/*.backup
terraform/crash.log

terraform/ansible/ansible_key
terraform/ansible/ansible_key.pub

terraform/ansible/.ansible/
terraform/ansible/*.log

.vscode/
.DS_Store
Thumbs.db
